.wrapper#wrapper
  .global_header
    %ul.global_header__global_menu
      %h1.global_header__global_menu__site_logo
        = link_to "Basic Design Note", root_path
      .global_header__global_menu__block
        %li.global_header__global_menu__block__menu_item
          = link_to "Archives", archives_posts_path
        - if user_signed_in?
          %li.global_header__global_menu__block__menu_item
            = link_to "Logout", destroy_user_session_path, method: :delete
          %li.global_header__global_menu__block__menu_item
            = link_to "Post", new_post_path
        - else
          %li.global_header__global_menu__block__menu_item
            = link_to "Login", new_user_session_path
          %li.global_header__global_menu__block__menu_item
            = link_to "Signup", new_user_registration_path, class: 'post'
  .signup_content
    .signup_content__left_inner
      .signup_content__left_inner__block
        %h2.signup_content__left_inner__block__page_title
          新規登録
        .signup_content__left_inner__block__form_wrap
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .signup_content__left_inner__block__form_wrap__nickname_field
              = f.text_field :nickname, placeholder: "ニックネーム", class: "nickname-box"
            .signup_content__left_inner__block__form_wrap__mail_field
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "email-box"
            .signup_content__left_inner__block__form_wrap__pass_field
              = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "pass-box"
              - if @minimum_password_length
                %em
                  .length
                    (#{@minimum_password_length} 文字以上)
            .signup_content__left_inner__block__form_wrap__pass_field
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード", class: "pass-box"
              .confirm
                = f.label :確認の為もう一度入力してください。
            .signup_content__left_inner__block__form_wrap__submit
              = f.submit "新規登録", class: "signup-button"


  -# %h1.logo
  -#   = link_to "Sakusaku", root_path
  -# .wrap
  -#   %h2.wrap__title 新規登録
  -#   = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  -#     = render "devise/shared/error_messages", resource: resource
  -#     .field
  -#       = f.text_field :nickname, placeholder: "ニックネーム", class: "nickname-box"
  -#     .field
  -#       = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "email-box"
  -#     .field
  -#       = f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "pass-box"
  -#       - if @minimum_password_length
  -#         %em
  -#           .length
  -#             (#{@minimum_password_length} 文字以上)
  -#     .field
  -#       = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード", class: "pass-box"
  -#       .confirm
  -#         = f.label :確認の為もう一度入力してください。
  -#     .actions
  -#       = f.submit "新規登録", class: "login-button"
  -#   = render "devise/shared/links"
