.wrapper#wrapper
  .archives_header
    %ul.archives_header__global_menu
      %h1.archives_header__global_menu__site_logo
        = link_to "Simple Design Note", root_path
      .archives_header__global_menu__block
        %li.archives_header__global_menu__block__menu_item
          = link_to "Archives", archives_posts_path
        - if user_signed_in?
          %li.archives_header__global_menu__block__menu_item
            = link_to "Logout", destroy_user_session_path, method: :delete
          %li.archives_header__global_menu__block__menu_item
            = link_to "Post", new_post_path
        - else
          %li.archives_header__global_menu__block__menu_item
            = link_to "Login", new_user_session_path
          %li.archives_header__global_menu__block__menu_item
            = link_to "Signup", new_user_registration_path, class: 'post'
  .archives_content
    .archives_content__left_inner
      .archives_content__left_inner__block
        %h2.archives_content__left_inner__block__page_title
          Archives
    .archives_content__right_inner
      .archives_content__right_inner__wrap
        - @posts.zip(@users) do |post, user|
          .archives_content__right_inner__wrap__article_block
            = link_to post_path(post) do
              .archives_content__right_inner__wrap__article_block__post_image
                - if post.image?
                  = image_tag post.image.url, width: "100%"
                - else
                  = image_tag "sample-1.jpg", width: "100%"
              .archives_content__right_inner__wrap__article_block__post_title
                = post.title
              .archives_content__right_inner__wrap__article_block__post_data
                -# Posted 
                #{post.user.nickname}さん
                = post.created_at.strftime("%Y/%m/%d")
      -# .archives_content__right_inner__module_block
      -#   = link_to archives_posts_path do
      -#     .archives_content__right_inner__module_block__btn_block
      -#       Archives　→
      .archives_content__right_inner__page_nation
        .archives_content__right_inner__page_nation__submit
          = paginate @posts
  .archives_footer
    = link_to "#wrapper", { anchor: "wrapper" } do
      .archives_footer__top_btn
    .archives_footer__footer_title
      = link_to "Simple Design Note", root_path
    %ul.archives_footer__local_menu
      %li.archives_footer__local_menu__menu_item
        = link_to "Archives", archives_posts_path
      - if user_signed_in?
        %li.archives_footer__local_menu__menu_item
          = link_to "Logout", destroy_user_session_path, method: :delete
        %li.archives_footer__local_menu__menu_item
          = link_to "Post", new_post_path
      - else
        %li.archives_footer__local_menu__menu_item
          = link_to "Login", new_user_session_path
        %li.archives_footer__local_menu__menu_item
          = link_to "Signup", new_user_registration_path, class: 'post'
    .archives_footer__copyright
      © 2020 Simple Design Note All Rights Reserved.