.wrapper#wrapper
  .global_header
    %ul.global_header__global_menu
      %h1.global_header__global_menu__site_logo
        = link_to image_tag("site-logo-black.png", width: "170px"), root_path
      .global_header__global_menu__block
        %li.global_header__global_menu__block__menu_item
          = link_to "Archives", archives_posts_path
        - if user_signed_in?
          %li.global_header__global_menu__block__menu_item
            = link_to "Logout", destroy_user_session_path, method: :delete
          %li.global_header__global_menu__block__menu_item
            = link_to "Post", new_post_path
        - else
          %li.global_header__global_menu__block__menu_item
            = link_to "Login", new_user_session_path
          %li.global_header__global_menu__block__menu_item
            = link_to "Signup", new_user_registration_path, class: 'post'

  .edit_content
    .edit_content__left_inner
      .edit_content__left_inner__block
        .edit_content__left_inner__block__form_wrap
          = form_with model: @post, url: { action: :update }, local: true do |f|
            .form-group 
              .image_form
                .image_form__contents
                  = f.label :image, class: 'image_label' do
                    .prev-contents
                      - if @post.image?
                        .prev-content
                          = image_tag @post.image.url, alt: "preview", class: "prev-image"
                          -# = image_tag @post.image if @post.image.attached?
                      - else
                        = icon('fas', 'image', class: 'photo-icon')
                      = f.file_field :image, class: 'image_form__contents__field hidden_file'
            -# .edit_content__left_inner__block__form_wrap__remove_image
            -#   = f.check_box :remove_image, class: "delete_box"
            -#   画像を削除する
            .edit_content__left_inner__block__form_wrap__title_field
              = f.text_field :title, placeholder: "タイトル", class: "title_box"
            .edit_content__left_inner__block__form_wrap__text_field
              = f.text_area :text, placeholder: "ご自由にお書きください。", class: "text_box", cols: "40", rows: "10"
            .edit_content__left_inner__block__form_wrap__submit
              = f.submit "編集完了", class: "edit_submit"

  -# .edit_content
  -#   .edit_content__left_inner
  -#     .edit_content__left_inner__block
  -#       .edit_content__left_inner__block__form_wrap
  -#         = form_with model: @post, url: { action: :update }, local: true do |f|
  -#           .edit_content__left_inner__block__form_wrap__image_field
  -#             = f.text_field :image, placeholder: "URL", class: "image_box"
  -#             .form_mask
  -#               %label.label
  -#                 = icon('fa','images', class: 'icon')
  -#                 = f.file_field :image, class: "hidden"
  -#                 = f.hidden_field :image_cache
  -#           .edit_content__left_inner__block__form_wrap__remove_image
  -#             = f.check_box :remove_image
  -#             画像を削除する
  -#           .edit_content__left_inner__block__form_wrap__title_field
  -#             = f.text_field :title, placeholder: "タイトル", class: "title_box"
  -#           .edit_content__left_inner__block__form_wrap__text_field
  -#             = f.text_area :text, placeholder: "ご自由にお書きください。", class: "text_box", cols: "40", rows: "10"
  -#           .edit_content__left_inner__block__form_wrap__submit
  -#             = f.submit "編集完了", class: "edit_submit"
