.wrapper#wrapper
  .home_header
    %ul.home_header__global_menu
      %li.home_header__global_menu__menu_item
        = link_to "Archives", archives_posts_path
      - if user_signed_in?
        .home_header__global_menu__menu_item
          = link_to "Logout", destroy_user_session_path, method: :delete
        %li.home_header__global_menu__menu_item
          = link_to "Post", new_post_path
      - else
        %li.home_header__global_menu__menu_item
          = link_to "Login", new_user_session_path
        %li.home_header__global_menu__menu_item
          = link_to "Signup", new_user_registration_path, class: 'post'
  .home_content
    .home_content__left_inner
      .home_content__left_inner__module_block
        %h1.home_content__left_inner__module_block__title_logo
          Simple Design Note
        .home_content__left_inner__module_block__sub_title
          “デザインの基本”を学び直すブログ
    .home_content__right_inner
      .home_content__right_inner__wrap
        - @posts.zip(@users) do |post, user|
          .home_content__right_inner__wrap__article_block
            = link_to post_path(post) do
              .home_content__right_inner__wrap__article_block__post_image
                - if post.image?
                  = image_tag post.image.url, width: "100%"
                - else
                  = image_tag "sample-1.jpg", width: "100%"
              .home_content__right_inner__wrap__article_block__post_title
                = post.title
              .home_content__right_inner__wrap__article_block__post_data
                -# Posted 
                #{post.user.nickname}さん
                = post.created_at.strftime("%Y/%m/%d")
      .home_content__right_inner__module_block
        = link_to archives_posts_path do
          .home_content__right_inner__module_block__btn_block
            Archives　→
  .home_footer
    = link_to "#wrapper", { anchor: "wrapper" } do
      .home_footer__top_btn
    .home_footer__footer_title
      = link_to "Simple Design Note", root_path
    %ul.home_footer__local_menu
      %li.home_footer__local_menu__menu_item
        = link_to "Archives", archives_posts_path
      - if user_signed_in?
        %li.home_footer__local_menu__menu_item
          = link_to "Logout", destroy_user_session_path, method: :delete
        %li.home_footer__local_menu__menu_item
          = link_to "Post", new_post_path
      - else
        %li.home_footer__local_menu__menu_item
          = link_to "Login", new_user_session_path
        %li.home_footer__local_menu__menu_item
          = link_to "Signup", new_user_registration_path, class: 'post'
    .home_footer__copyright
      © 2020 Simple Design Note All Rights Reserved.


-# .top
-#   .top__header
-#     .top__header__logo
-#       %h1.top__header__logo__content
-#         = link_to "Sakusaku", root_path
-#     - if user_signed_in?
-#       .top__header__signOut
-#         = link_to "ログアウト", destroy_user_session_path, method: :delete
-#       .top__header__newPost
-#         = link_to "投稿", new_post_path
-#     - else
-#       .top__header__signIn
-#         = link_to "ログイン", new_user_session_path, class: 'post'
-#       .top__header__signUp
-#         = link_to "新規登録", new_user_registration_path, class: 'post'
-#   .top__section
-#     .top__section__main
-#       .top__section__main__article
-#         - @posts.each do |post|
-#           .top__section__main__article__content
-#             = link_to "詳細", post_path(post), class: "show-button"
-#             .top__section__main__article__content__image
-#               = image_tag "sample-2.jpg"
-#             .top__section__main__article__content__title
-#               = post.title.truncate(30)
-#             .top__section__main__article__content__text
-#               = post.text.truncate(35)
-#             .top__section__main__article__content__data
-#               = post.created_at.strftime("%Y.%m.%d")
-#             .top__section__main__article__content__edit
-#               - if user_signed_in?
-#                 = link_to "編集", edit_post_path(post), class: "edit-button"
-#                 = link_to "削除", post, method: :delete, data: { confirm: "#{post.title}を削除してもよろしいですか？" }, class: "delete-button"
-#     .top__section__side

-#   .top__footer
-#     %ul.top__footer__menu
-#       %li.top__footer__menu__list
-#         = link_to "ABOUT ME", "#"
-#       %li.top__footer__menu__list
-#         = link_to "SITE MAP", "#"
-#       %li.top__footer__menu__list
-#         = link_to "SNS", "#"
-#       %li.top__footer__menu__list
-#         = link_to "CONTACT", "#"
-#     .top__footer__copyright
-#       © 2020 sakusaku