.post-form
  %h3.post-form__title
    = link_to "新規投稿", root_path
  = form_with(model: @post, local: true) do |f|
    .post-form__field
      画像
      = f.text_field :image, placeholder: "URL", class: "image-field"
    .post-form__field
      記事タイトル
      = f.text_field :title, placeholder: "タイトル", class: "title-field"
    .post-form__field
      テキスト
      = f.text_area :text, placeholder: "ご自由にお書きください。", class: "text-field"
    .post-form__action
      = f.submit "投稿", class: "post-submit"